html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
}

body :focus {
  outline: none;
}

button:focus {
  outline: 5px auto transparent;
}
section{
  padding: 100px 0 100px;
}
.fixed-top {
  position: absolute;
  
}
.navbar {
  background: #fff;
  top: 2rem;
  right: 5rem;
  left: 5rem;
  border-radius: 10px;
}

.navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  color: #171717;
}

.navbar-brand img {
  width: 40%;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.main-banner__content {
  position: relative;
}

.main-banner__img {
  width: 100%;
  height: 100vh;
}

.mask {
  position: absolute;
  background: red;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: .2;
}

.main-banner__text {
  position: absolute;
  top: 40%;
  color: #fff;
  padding-left: 8rem;
  width: 52%;
}

.main-banner__text h1 {
  font-weight: bold;
  margin-bottom: 3rem;
}

.slick-dots {
  display: flex;
  text-align: start;
  padding-left: 5rem;
  bottom: 21.5rem;
  flex-direction: column;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 15px;
}


.slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}

.btn-custom {
  background: #bf2176;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #bf2176;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(232, 2, 101, 0.12);
}

.wave {
  position: absolute;
  bottom: 0;
  width: 101%;
  z-index: 1;
}

.wave-m {
  position: absolute;
  width: 16%;
  height: 15%;
  right: 10px;
  z-index: 999;
  top: 63%;
}

.main-title {
  color: #000;
  text-align: center;
}
.main-title h3{
  font-size: 3rem;
  font-weight: 500;
}
.main-title span{
  color: #bf2176;
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.main-grid__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-grid__img {
  width: 100%;
  margin-bottom: 14px;
}
.main-grid__img img{
  width: 25%;
}

.img-item {
  width: 25px;
  margin-right: 15px;
}
.main-about__content {
  text-align: center;
}

.about{
  background-image: url('../img/corp.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: 45%;
  height: 230px;
  position: absolute;
  opacity: .1;
}

.hj{
  background: white;
  margin-left: 30px;
  box-shadow: 0 0 14px #00000033;
  height: 200px;
  width: 450px;
  border-radius: 10px;
  padding: 25px;
}

.hj span{
  color: #bf2176;
    font-weight: 600;
}

#testimonios{
  background: #9e9e9e3b;
  position: relative;
}

.wave-b{
  position: absolute;
  bottom: -1px;
  z-index: 0;
  width: 100%;
  height: auto;
}

.bg-testimonios{
  padding: 50px;
}
.slick-prev {
  left: -50px;
}

.wave-t{
  transform: rotate(180deg);
  top: -1px;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
}
#testimonios .slick-track {

  padding-top: 20px;
  padding-bottom: 20px;
}
.content_img{
  width: 100%;
  opacity: .3;
  text-align: center;
}
.content_img img{

  width: 65%;
  height: 100%;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  background: #bf2176;
  color: #fff;
}

.main-title__general {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title__general:before {
  content: '';
  width: 50px;
  height: 2px;
  position: absolute;
  background: #bf2176 ;
  border-radius: 50px;
  margin-top: -40px;
}

.main-title__general--start {
  text-align: start;
  display: inherit;
}

.masonry-with-columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 30px;
}

.masonry-with-columns .service:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  margin-top: 70px;
}

.masonry-with-columns .service:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.masonry-with-columns .service:nth-child(3) {
  grid-column: 5 / 7;
  grid-row: 1/2;
  margin-top: -80px;
}

.masonry-with-columns .service:nth-child(4) {
  grid-column: 3/5;
}

.masonry-with-columns .service:nth-child(5) {
  grid-column: 5/7;
  margin-top: -80px;
}

.masonry-with-columns .main-service__card {
  height: 334px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.masonry-with-columns .main-service__card .main-service__title {
  color: #fff;
  position: absolute;
  bottom: 25px;
  margin-left: 12px;
}

.masonry-with-columns .main-service__card .main-service__title p {
  font-size: .9rem;
  line-height: 0;
}

.masonry-with-columns .main-service__img {
  height: -webkit-fill-available;
  object-fit: cover;
  background-position: center !important;
  width: 100%;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}

.masonry-with-columns .main-mask__service {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, #bf2176 100%);
}

.masonry-with-columns .main-mask__service--grad {
  background: #bf2176 ;
}

.masonry-with-columns .main-description__service {
  color: #fff;
  bottom: 0;
  position: absolute;
}

.masonry-with-columns .hover {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
}

.masonry-with-columns .overlay {
  width: 100%;
  height: 100%;
  background: #bf2176 ;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 10px;
}

.masonry-with-columns .items {
  padding-left: 20px;
  letter-spacing: 1px;
}

.masonry-with-columns .items p {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.masonry-with-columns .head {
  position: absolute;
  bottom: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

.masonry-with-columns .head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px red;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all .5s;
}

.masonry-with-columns .hover:hover .overlay {
  opacity: 1;
}

.masonry-with-columns .hover:hover .overlay .head {
  transform: translateY(0px);
  position: absolute;
  bottom: 50px;
}

.masonry-with-columns .hover:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}

.masonry-with-columns .hover:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

.masonry-with-columns .hover:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
footer
{
  background: #bf2176;
  padding: 40px;
  margin-top: 55px;
}

.btn-custom-white{
  background: #ffffff;
    color: #bf2176!important;
    text-align: center;
}
.main-footer_grid a{
  color: #fff;
}
.main-footer_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  color: #fff;;
}
.main-footer p{
  color: #fff;
margin: 0;
  padding: 0;
  text-align: center;

}
.main-footer hr{
  border-top: 1px solid rgba(255, 255, 255, 0.35);
}
.content-img__footer{
  text-align: center;
}

.content-img__footer img{
  filter: brightness(0) invert(1);
}

.main-banner::after{
  background-image: url('../img/ondas.png');
  content: "";
  position: absolute;
  width: 100%;
  height: 364px;
  background-size: 100%;
  bottom: -2px;
  background-repeat: no-repeat;
  z-index: 1;
}

.btn:not(:disabled):not(.disabled):hover {
  cursor: pointer;
  background: #ffffff;
  color: #fff;
  border: 1px solid #bf2176;
  color: #bf2176;
}