@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1440px) and (max-width: 1199px) {
  .wave-m {
    top: 55%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wave-m {
    top: 56%;
  }
  .main-banner__text {
    width: 88%;
  }
  .hj {
    box-shadow: none;
    width: auto;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .wave-m{
    display: none;
  }
  .about {
    background-image: none;

}
  .top-main-service {
    margin-top: 100px!important;
}
  .text-important {

    margin: 0;
}
  .main-title h3 {
    font-size: 2rem;
   
}
  .top-main {
    margin-top: 116px;
    margin-bottom: 0;
}
  .grid-about span {
   
    display: none;
   
}

.grid-about {

  display: initial!important;

}
  .navbar-nav .nav-link {
    color: #bf2176;
  }
  section {
    padding: 10px 0 10px;
  }
  .wave-m {
    object-fit: contain;
  }
  .img-item {
    display: none;
  }
  .main-grid__content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content_img {
    display: none;
  }
  .main-footer_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: #fff;
  }
  .masonry-with-columns .main-service__card {
    margin-bottom: 50px;
  }
  .hj {
    background: white;
    margin-left: 0;
    box-shadow: 0 0 14px #00000033;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 25px;
  }
  .masonry-with-columns {
    display: initial;
  }

  .masonry-with-columns .service:nth-child(3) {
    margin-top: 0;
  }

  .masonry-with-columns .service:nth-child(5) {
    margin-top: 0;
  }
  .main-banner__text {
    top: 40%;
    padding-left: 12px;
    width: 100%;
  }
  .main-banner__text h1 {
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .btn-content {
    display: inline-grid;
  }
  .btn-custom {
    margin-bottom: 12px;
    text-align: center;
  }
  .navbar {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    border-radius: 10px;
  }
  .main-brand {
    display: inherit;
  }
  .navbar-brand img {
    width: 50%;
  }
}
