@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .wave-m {

    top: 56%;
}
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__text {
    top: 40%;
    padding-left: 12px;
    width: 100%;
}
.main-banner__text h1 {
  font-weight: bold;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.btn-content{
  display: inline-grid; 
}
.btn-custom{
  margin-bottom: 12px;
  text-align: center;
}
.navbar {
  top: 1rem;
  right: 1rem;
  left: 1rem;
  border-radius: 10px;
}
.main-brand{
  display: inherit;
}
.navbar-brand img {
  width: 50%;
}
}

